@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #e3e8e4;
  --primary-color: #363636;
  --main-font: "Playfair Display SC", serif;
}